.albums {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 0 60px 0;
}

.album {
    width: 16%;
    height: 65px;
    margin: 0 1% 0 1%;
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
    padding: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.album h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.album .dl-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #909090;
}

.album .dl-icon:hover {
    color: #E56B6F;
}


.more-link {
    float: right;
    color: #E56B6F;
    font-size: 20px;
    cursor: pointer;
    padding-top: 2vh;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images .image {
    width: 24%;
    padding-bottom: 24%;
    margin: 1vh;
    background-size: cover;
    background-position: center;
}
