@media only screen and (max-width : 840px) {
    .albums {
        display: none;
    }
    
    .album {
        width: 40vw;
    }

    .images .image {
        width: 25vw;
        padding-bottom: 33%;
    }
}