.poll {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.participants {
    display: flex;
    align-items: center;
}

.poll .participants img, .poll .participants .oversize {
    width: 21px;
    height: 21px;
    border-radius: 50%;
}

.poll .participants .oversize {
    background: #fafafa;
    color: #909090;
    line-height: 21px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    margin: 0;
}

.poll .link {
    float: right;
    cursor: pointer;
}

.poll span {
    color: #E56B6F;
    font-size: 14px;
}

.poll .baricon {
    height: 10px;
    width: 10px;
    color: #E56B6F;
}