@media only screen and (max-width : 736px) {
    .article {
        width: 100%;
        margin-bottom: 5vh;
    }

    .article-head {
        border-radius: 12px;
    }

    .article-head::after {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .article-foot h2 {
        text-align: center;
    }
}