.article {
    width: 335px;
    margin: 21px 21px 21px 21px;
    cursor: pointer;
}

.article-head {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 240px;
    margin: 0;
}

.article-foot {
    width: 90%;
    margin: auto;
}

.article-foot h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.article-foot p {
    margin: 0;
    font-size: 14px;
    color: black;
}
