@media only screen and (max-width : 736px) {
    #events-small {
        overflow: scroll;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
        justify-content: initial;
        padding: 8px;
    }

    #events::-webkit-scrollbar {
        width: 0px; /* For Chrome, Safari, and Opera */
    }

    .events {
        padding: 0 12px 0 12px;
    }

    .event {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
    }
    
    .event p {
        width: 60vw;
    }
}