#events-small {
    display: flex;
    width: 100%;
    justify-content: center;
}

#events-big {
    max-width: 725px;
    height: 470px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
}

#events-big::-webkit-scrollbar {
    width: 3px;
    background-color: #DFDFDF; 
}

#events-big::-webkit-scrollbar-thumb {
    background: #909090; 
}

.calendar {
    margin-bottom: 75px;
}

.event {
    margin: 0 5px 0 5px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 6px 12px 6px 12px;
    height: min-content;
}

.event-head {
    display: flex;
    align-items: center;
}

.event-image {
    color:#E56B6F;
    width: 59px;
    height: 59px;

    margin: 10px;
}

.event p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 228px;
}

.more {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #909090;
    float: right;
    cursor: pointer;
}

.more:hover {
    color: #E56B6F;
}

/* LARGE EVENTS */

.day {
    display: flex;
}

.day-events {
    width: 100%;
    border-left: solid 1px #707070;
    margin-bottom: 30px;
    padding: 0 16px 0 16px;
}

.day-number {
    min-width: 115px;
    text-align: center;
}

.day-number-small {
    text-align: center;
    margin: 0 15px 0 10px;
}

.jour {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #E56B6F;   
    margin: 0;
}

.day-number-small .jour {
    position: relative;
    top: 5px;
    font-size: 40px;
    display: block;
}

.month {
    position: relative;
    top: -10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.day-number-small .month {
    position: relative;
    font-size: 20px;
    top: -5px;
}

.day-events .event {
    min-height: 72px;
    margin-bottom: 16px;
    display: inline-block;
}

.day-events .event p {
    width: 100%;
}

.day-events .event svg {
    display: none;
}