.memberPresentation {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 28px;
    background: white;
    display: flex;
    flex-direction: column;
}

.memberPresentation h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.memberPresentation .fonction {
    font-size: 16px;
    margin-top: 7px;
}

.memberPresentation .mail {
    font-size: 16px;
    font-weight: bold;
    color: #E56B6F;
    margin-top: 22px;
}