body {
    margin: 0;
    padding: 0;
    background: #FAFAFA;
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding: 5vh 12px 5vh 12px;
    margin: auto;
    max-width: 1194px;
}

.white {
    background: white;
}

.grey {
    background: #FAFAFA;
}

section {
    width: 100%;
    padding: auto;
    justify-content: center;
}
