@media only screen and (max-width : 736px) {
    .container {
        padding: 5vh 16px 5vh 16px;
        margin: auto;
    }

    #events {
        overflow: scroll;
        scrollbar-width: none; /* For Firefox */
        -ms-overflow-style: none; /* For Internet Explorer and Edge */
        justify-content: initial;
    }

    #events::-webkit-scrollbar {
        width: 0px; /* For Chrome, Safari, and Opera */
    }
}