#featured-articles, #cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cards {
    margin: 10vh 0 10vh 0;
}

.sponsors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsor-section {
    text-align: center;
}

.sponsors img {
    height: 5vh;
    margin: 2vh;
    /*-webkit-filter: grayscale(100%);*/
    /*filter: grayscale(100%);*/
}

.sponsors img:hover {
    -webkit-filter: none;
    filter: none;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #E56B6F;
    margin: 5vh 0 5vh 0;
}

#events {
    display: flex;
    width: 100%;
    justify-content: center;
}

hr {
    margin: auto;
    margin-bottom: 5vh;
    width: 75%;
    color: #707070;
}